.rc-step-header {
  color: var(--pf-v5-global--primary-color--100);
}

.rc-step-index {
  display: inline-flex;
  border-radius: 100%;
  background: var(--pf-v5-global--primary-color--100);
  color: var(--pf-v5-global--Color--light-100);
  width: 1.5em;
  height: 1.5em;
  justify-content: center;
  margin-right: var(--pf-v5-global--spacer--sm);
}
